<div class="container container-fluid">
  <div *ngIf="loginError" class="alert alert-danger">
        Suas informações parem estar incorretas, verifique novamente suas credenciais.
  </div>
  <div class="card">
    <div class="card-header">
      <img class="card-img-top" src="../../../assets/login/Nead_Logo.png">
    </div>
    <div class="card-title">
      <h3 class="text-muted">Login</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

          <label for="exampleInputEmail1">User</label>
          <input type="email" formControlName="username" class="form-control" aria-describedby="emailHelp" placeholder="Digite o usuário" required="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" formControlName="password" class="form-control"  id="exampleInputPassword1" placeholder="Password" required="">
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="/#" ><fa name="angle-left" size="3x" class="icon-back"></fa></a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
            <button type="submit" class="btn btn-primary">Prosseguir</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
